<div class="col-md-6 offset-md-3">
  <div class="jumbotron">

<h3>New Stock</h3>

<%= render 'form', stock: @stock %>

<%= link_to 'Back', stocks_path, class: 'btn btn-secondary btn-lg btn-block' %>
</div>
</div>